<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <display-name>Ivela Web Application</display-name>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/*Context.xml
        </param-value>
    </context-param>
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter>
        <filter-name>struts-cleanup</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ActionContextCleanUp</filter-class>
    </filter>
    <filter>
        <filter-name>sitemesh</filter-name>
        <filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
    </filter>
    <filter>
        <filter-name>struts</filter-name>
        <filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>struts-cleanup</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>sitemesh</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>struts</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>
    <listener>
        <listener-class>
            org.springframework.security.ui.session.HttpSessionEventPublisher
        </listener-class>
    </listener>
    <servlet>
        <servlet-name>dwr-invoker</servlet-name>
        <display-name>DWR Servlet</display-name>
        <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>
    
    <servlet>
        <servlet-name>SaveObjectServlet</servlet-name>
        <display-name>SaveObjectServlet</display-name>
        <servlet-class>br.ufc.ivela.servlets.SaveObjectServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>Captcha</servlet-name>
        <display-name>Captcha</display-name>
        <servlet-class>nl.captcha.servlet.CaptchaServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>RenderServlet</servlet-name>
        <display-name>RenderServlet</display-name>
        <servlet-class>br.ufc.ivela.servlets.RenderServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>ChallengeSolver</servlet-name>
        <display-name>ChallengeSolver</display-name>
        <servlet-class>br.ufc.ivela.servlets.ChallengeSolver</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ChallengeGetScore</servlet-name>
        <display-name>ChallengeGetScore</display-name>
        <servlet-class>br.ufc.ivela.servlets.ChallengeGetScore</servlet-class>
    </servlet>
    
    
    <servlet>
        <servlet-name>VoiceServlet</servlet-name>
        <display-name>VoiceServlet</display-name>
        <servlet-class>br.ufc.ivela.servlets.VoiceServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <display-name>UploadServlet</display-name>
        <servlet-class>br.ufc.ivela.servlets.UploadServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>VoiceStatServlet</servlet-name>
        <display-name>VoiceStatServlet</display-name>
        <servlet-class>br.ufc.ivela.servlets.VoiceStatServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>NpdServlet</servlet-name>
        <display-name>NpdServlet</display-name>
        <servlet-class>br.ufc.ivela.servlets.NpdServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>RenderServletProfile</servlet-name>
        <display-name>RenderServletProfile</display-name>
        <servlet-class>br.ufc.ivela.servlets.RenderServletProfile</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>RenderServletPartner</servlet-name>
        <display-name>RenderServletPartner</display-name>
        <servlet-class>br.ufc.ivela.servlets.RenderServletPartner</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>VoiceFeedBackServlet</servlet-name>
        <display-name>VoiceFeedBackServlet</display-name>
        <servlet-class>br.ufc.ivela.servlets.VoiceFeedBackServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>IRCIvelaClientServlet</servlet-name>
        <display-name>IRCIvelaClientServlet</display-name>
        <servlet-class>br.ufc.ivela.servlets.IRCIvelaClientServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>RenderDynamicHtml</servlet-name>
        <display-name>RenderDynamicHtml</display-name>
        <servlet-class>br.ufc.ivela.servlets.RenderDynamicHtml</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ServletAdaptor</servlet-name>
        <servlet-class>com.sun.jersey.impl.container.servlet.ServletAdaptor</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>dwr-invoker</servlet-name>
        <url-pattern>/dwr/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Captcha</servlet-name>
        <url-pattern>/captcha.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdaptor</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>SaveObjectServlet</servlet-name>
        <url-pattern>/SaveObjectServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>RenderServlet</servlet-name>
        <url-pattern>/RenderServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ChallengeSolver</servlet-name>
        <url-pattern>/ChallengeSolver</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ChallengeGetScore</servlet-name>
        <url-pattern>/ChallengeGetScore</url-pattern>
    </servlet-mapping>
    
     <servlet-mapping>
        <servlet-name>RenderServletProfile</servlet-name>
        <url-pattern>/RenderServletProfile</url-pattern>
    </servlet-mapping>

     <servlet-mapping>
        <servlet-name>RenderServletPartner</servlet-name>
        <url-pattern>/RenderServletPartner</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>VoiceServlet</servlet-name>
        <url-pattern>/VoiceServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>VoiceStatServlet</servlet-name>
        <url-pattern>/VoiceStatServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>VoiceFeedBackServlet</servlet-name>
        <url-pattern>/VoiceFeedBackServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>NpdServlet</servlet-name>
        <url-pattern>/NpdServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>IRCIvelaClientServlet</servlet-name>
        <url-pattern>/IRCIvelaClientServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RenderDynamicHtml</servlet-name>
        <url-pattern>/RenderDynamicHtml</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
oadServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>VoiceStatServlet</servlet-name>
        <url-pattern>/VoiceStatServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>VoiceFeedBackServlet</servlet-name>
        <url-pattern>/VoiceFeedBackServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>NpdServlet</servlet-name>
        <url-pattern>/NpdServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>IRCIvelaClientServlet</servlet-name>
        <url-pattern>/IRCIvelaClientServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RenderDynamicHtml</servlet-name>
        <url-pattern>/RenderDynamicHtml</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>I18nServlet</servlet-name>
        <url-pattern>/I18nServlet</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
