@charset "utf-8";
/* CSS Document */

#container{margin-bottom:80px;}
#container a:hover{color:#ff7202;}

#content h1{font:30px Arial, Helvetica, sans-serif; color:#ff7202; width:300px; font-weight:bold;}
#content h3{font:15px Arial, Helvetica, sans-serif; color:#033d7d; font-weight:bold; margin-top:20px;}
#content h4{font:20px Arial, Helvetica, sans-serif; color:#033d7d; font-weight:bold; margin-bottom:30px; width:650px;}

#content #col-1-discipline {width: 272px; height: auto; float:left;}
#content #col-2-discipline {width: 685px; height: auto; float:left; border-left:1px solid #d9d9d9; margin-top:20px;}

#box-stats{background:url(../images/bg_boxes-repository.jpg) repeat-x; width:230px; margin-bottom:30px; height:auto; border:1px solid #ccc; margin-top:5px; padding:10px;}
#box-stats p{font:11px Arial, Helvetica, sans-serif; color:#033d7d; float:left; font-weight:bold;}
.box-bar{display: block; float:left; width: 67px; height: 11px; margin-right: 10px; padding:1px; background: url(../images/progress-bar/bg-bar.gif) no-repeat left; margin-left:5px;}
.progress {display: block; float:left; font-size: 11px; font-weight:bold;}
#box-stats .period {display: block; font-size: 11px; color:#000; margin:5px 0;}
#box-stats .period em{font-weight:bold; font-style:normal;}
#box-stats .list-acess-date{font:11px Arial, Helvetica, sans-serif; color:#ff7202;}

.menu-discipline{list-style-type:none; margin-top:20px;}
.menu-discipline dt{margin-top:15px; font:15px Arial, Helvetica, sans-serif; color:#003d93; font-weight:bold;}
.menu-discipline dt a{font:15px Arial, Helvetica, sans-serif; color:#003d93; font-weight:bold;}
.menu-discipline dd{margin-left:23px; margin-top:10px;}
.menu-discipline dd, .menu-discipline dd a{font:12px Arial, Helvetica, sans-serif; color:#ff7202; font-weight:bold;}
.menu-discipline dd a{color:#003d93; font-weight:normal;}
.disciplines{background:url(../images/icon/icon-disciplines.gif) no-repeat left; padding:0 0 0 23px;}
.exercise{background:url(../images/icon/icon-exercise.gif) no-repeat left; padding:0 0 0 23px;}
.test{background:url(../images/icon/icon-teste.gif) no-repeat left; padding:0 0 0 23px;}
.forum{background:url(../images/icon/icon-forum.gif) no-repeat left; padding:0 0 0 23px;}
.chat{background:url(../images/icon/icon-chat.gif) no-repeat left; padding:0 0 0 23px;}

.menu-internal{list-style-type:none;}

.div-discipline h2.testh2{font:20px Arial, Helvetica, sans-serif; font-weight:bold; margin-bottom:5px; color:#033d7d; display:block; float:left;}
.div-discipline{font:12px Arial, Helvetica, sans-serif; margin-left:20px;}
.div-discipline li{font-size:12px; color:#033d7d; font-weight:bold; margin-left:25px; margin-bottom:10px;}
.div-discipline ul.list-unit{list-style-type:none; margin-top:15px; margin-bottom:30px;}
.div-discipline a{color:#033d7d; font-weight:normal;}
.div-discipline .box-bar-discipline{float:left; width: 67px; height: 11px; margin-top:8px; margin-left:15px; padding:1px; background: url(../images/progress-bar/bg-bar.gif) no-repeat left;}
.div-discipline .progress-discipline {font-size: 11px; font-weight:bold; width:30px; margin-left:5px; float:left; height:15px; padding-top:7px;}
.div-discipline .description-discipline{clear:left;}

.navegation{display:block; text-align:right; margin-right:15px; margin-bottom:5px; font:12px Arial, Helvetica, sans-serif;}
.navegation a{color:#033d7d; margin-left:15px;}
.navegation a.previous{background:url(../images/bottons/btn-previous.gif) no-repeat left; padding:0 0 0 10px;}
.navegation a.next{background:url(../images/bottons/btn-next.gif) no-repeat right; padding:0 10px 0 0;}