body {font-family: Arial, Helvetica, sans-serif; padding:15px;}
	.content-lesson h1{font-size:30px; color:#ff6600;}
	.content-lesson h2{font-size:16px; color:#033d7d; margin-bottom:0;}
	.content-lesson p{font-size:12px; margin:0; line-height:18px;}
		.info-lesson { background:#FDF1D9; padding: 28px; border: 1px solid #FFCC00; font-size:12px; margin:0; line-height:18px;}
		.info-lesson p{font-size:12px; margin:0; line-height:18px;}
		.info-lesson p span {font-weight:bold; font-size:15px;}
		.info-lesson ul.goals, .info-lesson ul.scope {margin:0; font-size:12px;}
		.info-lesson ul.goals li{ list-style-type:disc;}
	
	
	.content-lesson .btn-voc{background: url(http://200.17.41.212/apache2-default/tmp/icon-vocabulary.gif) #fff no-repeat 8px; 
    color:#454545;
    font-family:Arial,Helvetica,sans-serif;
    font-size:14px;
    font-weight:bold;
    line-height:normal;
    margin-top:10px;
    margin-left:25px;
    padding:0pt 0pt 0pt 25px;
    text-decoration:none;}
   .content-lesson .btn-voc:hover{background: url(http://200.17.41.212/apache2-default/tmp/icon-vocabulary.gif) #fff no-repeat 8px;
    padding: 0 0 0 25px;
    cursor:pointer;
    color:#ff6600;}	
	
	.content-lesson .exercise-content {margin-top:30px;}
		.content-lesson .exercise-content .question {font-weight: bold; font-size:15px;}
		.content-lesson .exercise-content ol {margin:0; margin-bottom:15px; padding-left:50px; font-size:12px;}
		.content-lesson .exercise-content ol li {list-style-type:upper-alpha;}
	
	
	.content-lesson .exercise-content-desc { background:#efefef; padding: 8px; border: 1px solid #FFCC00; font-size:12px; margin:0; line-height:18px;}
		.content-lesson .exercise-content-desc .question {font-weight: bold; font-size:15px;}
		.content-lesson .exercise-content-desc ol {margin:0; margin-bottom:15px; padding-left:50px; font-size:12px;}
		.content-lesson .exercise-content-desc ol li {list-style-type:upper-alpha;}
	   .content-lesson .exercise-content-desc ul {list-style-image: url(/ivela-web/images/icon/icon-disciplines.gif)}
	
	.content-lesson .reading-content-desc { background:#fffbde; padding: 8px; border: 1px solid #FFCC00; font-size:12px; margin:0; line-height:18px;}
		.content-lesson .reading-content-desc .question {font-weight: bold; font-size:15px;}
		.content-lesson .reading-content-desc ul {list-style-image: url(/ivela-web/images/icon/icon-disciplines.gif)}
		.content-lesson .reading-content-desc ol {margin:0; margin-bottom:15px; padding-left:50px; font-size:12px;}
		.content-lesson .reading-content-desc ol li {list-style-type:upper-alpha;}
	
	
	.content-lesson .audio { background:#efefef; padding: 8px; border: 1px solid #FFCC00; font-size:12px; margin:0; line-height:18px;}
		.content-lesson .exercise-content-desc .question {font-weight: bold; font-size:15px;}
		.content-lesson .exercise-content-desc ol {margin:0; margin-bottom:15px; padding-left:50px; font-size:12px;}
		.content-lesson .exercise-content-desc ol li {list-style-type:upper-alpha;}
		
		
	.navigation {padding-left: 480px; width:100px; height:22px; padding-top:8px; font:bold 11px Arial, Helvetica, sans-serif;}
	.navigation a {display:block; float:left; margin:0 3px; width:8px; color:#FF9900; text-decoration:none;}
	.navigation a:hover {color:#003366; text-decoration:none;}
	.navigation .previuos {background:url(/ivela-web/images/arrow-left.gif) no-repeat 0 2px; text-indent:-999px; overflow:hidden; width:14px; margin-left:10px;}
	.navigation .next {background:url(/ivela-web/images/arrow-right.gif) no-repeat right 2px; text-indent:-999px; overflow:hidden; width:14px; margin-left:10px;}
