
* {margin:0px; padding:0 5px;}
.clear {clear:both; height:0; font-size: 1px; line-height: 0px;}



#container {width: 900px; height:auto; min-height:100%; margin:0 auto; text-align:left; font-family:Arial, Helvetica, sans-serif;}
a {color:#033d7d;}

a:hover {color:#ff6600;}

#content {width: 100%; height: auto; padding-top: 80px; font-family: Arial, Helvetica, sans-serif; position: relative;}

h1{font-size:30px; color:#ff7202; margin-bottom: 10px;}

h2{font-size:20px; color:#033d7d;}

h3{font-size:16px; margin: 15px 0;}

p{font-size:12px;}

label{font-size:12px;margin-left:10px;}

label input{margin-right: 5px; }
.naveg-next {position: absolute; bottom:0; right: 30px; margin-top: 50px;display: block; font-weight: bold; font-size: 11px; padding: 5px 10px 5px 5px; background: url(../images/arrow-right.gif) no-repeat right center;}
.naveg-back {position: absolute; bottom:0; right: 80px; margin-top: 50px;display: block; font-weight: bold; font-size: 11px; padding: 5px 15px 5px 10px; background: url(../images/arrow-left.gif) no-repeat left center;}
.error {margin-top: 20px; text-align: center; color:#FF0000; font: bold 12px Arial, Helvetica, sans-serif;}
.navegation-back {margin:10px 460px; display: block; font-weight: bold; font-size: 11px; width:250px; }