
#category_container{
    width: 298px; 
    height: auto;
    background:#fff;
}

.category_toggle{
    background:url(../images/icon/icon-perfil.gif) #FFF no-repeat 5px;
    color: #033d7d; 
    font-size: 14px; 
    padding: 5px 15px 5px 30px;
    border: 1px solid #dae6f3; 
    border-bottom: none; 
    cursor: pointer;
}

.category_active{
    background:url(../images/icon/icon-perfil.gif) #FFF no-repeat 5px; 
    color: #033d7d; 
    font-size: 14px;
    font-weight:bold;
    padding: 5px 15px 5px 30px;
    border: 1px solid #dae6f3;
    border-bottom: none; 
    cursor: pointer;
}

.category_content{
    border: 1px solid #dae6f3;
    padding: 10px;
    overflow: hidden;
    position:relative;
}

.category_content  ul {
    list-style-type: none;
    font-size: 11px;
    } 
.category_content  ul li{
    padding:3px 0;}
.category_content  .list-students li {
    border:1px solid #D9E5F2;
    float:left;
    margin-bottom:10px;
    margin-right:10px;
    padding:8px 2px 8px 2px;
    text-align:center;
    width:60px;
}
.category_content  .list-students li:hover, .list-students li.selected {
    background:#FFE79C none repeat scroll 0%;
    border:1px solid #FF7202;
}

#col-2-home .container-courses .content-courses .member-info {margin-bottom: 30px;}
#col-2-home .container-courses .content-courses .member-info h1{margin-bottom: 10px;}
#col-2-home .container-courses .content-courses .member-info .picture{border: 1px solid #033d7d; background:#fff; padding: 5px; float: left; margin-right: 15px;}
#col-2-home .container-courses .content-courses .member-info div, #col-2-home .container-courses .content-courses .member-info div {float: left;}
#col-2-home .container-courses .content-courses .member-info div div {clear: both; margin-bottom: 20px;}
#col-2-home .container-courses .content-courses .member-info div div p {margin-bottom: 5px; font-weight: bold; color: #033d7d;}
#col-2-home .container-courses .content-courses .member-info div div span{font-weight: normal; color: #000;}
