@charset "utf-8";
/* CSS Document */

#container{margin-bottom:80px;}
#container a:hover{color:#ff7202;}

#content h1, #content h2{font:30px Arial, Helvetica, sans-serif; color:#ff7202; width:300px; font-weight:bold;}
#content h2{font:20px Arial, Helvetica, sans-serif; font-weight:bold; margin-bottom: 20px;}
#content h3{font:15px Arial, Helvetica, sans-serif; color:#033d7d; font-weight:bold; margin-top:20px;}
#content h4{font:20px Arial, Helvetica, sans-serif; color:#033d7d; font-weight:bold; margin-bottom:30px; width:650px;}

#content #col-1-bulletins {width: 272px; height: auto; float:left;}
#content #col-2-bulletins {width: 667px; height: auto; float:left; border-left:1px solid #d9d9d9; padding-left:20px;}
#col-2-bulletins p, #col-2-bulletins{font:12px Arial, Helvetica, sans-serif; margin-top:20px;}

#box-search{background:url(../images/bg_boxes-repository.jpg) repeat-x; width:645px; height:auto; border:1px solid #ccc; margin-top:5px;}
#box-search .form-system-bulletin{text-align:center; margin-top:10px;}
#box-search .form-system-bulletin .name-search{font:11px Arial, Helvetica, sans-serif; width:220px;} 
#box-search .form-system-bulletin .button{margin-top:10px; margin-bottom:10px; margin-left:170px; font:12px Arial, Helvetica, sans-serif;}
#box-search{width:250px;}

.bulletin-action{list-style-type:none; margin-top:20px;}
.bulletin-action li{margin-top:15px; font:15px Arial, Helvetica, sans-serif; color:#003d93; font-weight:bold;}
.bulletin-action li a{font:15px Arial, Helvetica, sans-serif; color:#003d93; font-weight:bold;}
.create-new-bulletin{background:url(../images/icon/icon-add-admin.gif) no-repeat left; padding:0 0 0 23px;}
.inbox-bulletin{background:url(../images/icon/icon-inbox.jpg) no-repeat left; padding:0 0 0 23px;}
.sent-bulletin{background:url(../images/icon/icon-sent-bulletins.jpg) no-repeat left; padding:0 0 0 23px;}

#col-2-bulletins form label{font:bold 12px Arial, Helvetica, sans-serif; color:#033d7d; display:block; float: left;}
#col-2-bulletins form .search-label-contact {color:#ff7202;}
#col-2-bulletins form .field-to, #col-2-bulletins form .field-subject, #col-2-bulletins form .field-search-contact{font-size: 11px; padding: 3px;}
#col-2-bulletins form .field-search-contact { width: 300px;}
#col-2-bulletins form .field-to{width: 510px; margin: 0 5px 0 53px;}
#col-2-bulletins form .field-subject {width: 570px; margin: 5px 0 0px 24px;}
#col-2-bulletins form .label-bulletin {display: block; float: left; margin-top:8px;}
#col-2-bulletins form .field-bulletin {width: 571px; height: 80px; overflow: auto; margin: 0 0 20px 15px; font: 11px Arial, Helvetica, sans-serif; line-height: 18px; padding: 3px; float:left;}
#col-2-bulletins form .search-contact p {margin: 0px;}
#col-2-bulletins form .btn-cancel-bulletin {font-weight: bold; font-size: 15px; margin-left: 20px; color: #003366; background:url(../images/icon/icon-cancel.gif) no-repeat 0 2px; display: block; padding-left: 20px; border:none; float: right;}
#col-2-bulletins form .btn-cancel-bulletin:hover, #col-2-bulletins form .btn-send-bulletin:hover {color:#ff7202; cursor:pointer;}

#col-2-bulletins form .btn-send-bulletin {font-weight: bold; font-size: 15px; color: #003366; background:url(../images/icon/icon-save.gif) no-repeat 0 2px; display: block; padding-left: 20px; border:none; float: right;}



.search-contact {background:url(../images/bg-boxes-home.jpg) repeat-x top left; border: 2px solid #ccc; padding: 10px; margin: 5px 0 10px 70px; width:556px;}

.search-contact-field {color:#ff7202; font-size:14px;}

.list-contact-bulletin { list-style-type:none; margin-top: 10px;}
.list-contact-bulletin li a{font: 11px Arial, Helvetica, sans-serif; color:#033d7d;}

.table-bulletin{margin-top:14px; font:11px Arial, Helvetica, sans-serif; width:670px; margin-bottom:25px;}
.table-bulletin th{font:15px Arial, Helvetica, sans-serif; color:#ff7202; font-weight:bold; border-bottom:1px solid #d9d9d9; padding-bottom:5px;}
.table-bulletin td{padding-top:15px; border-bottom:1px solid #d9d9d9;}
.table-bulletin .subject{width:400px; padding-right:15px; padding-bottom:20px;}
.table-bulletin .author{width:100px; padding-right:15px;}  
.table-bulletin .date-bulletin{color:#454545; width:120px;}
.table-bulletin img{margin-right:5px;}
.table-bulletin td a{color:#033d7d; padding-top:10px; font-weight:bold;}

.title-subject-bulletin{font:20px Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;}

.bulletin-reply{margin-bottom:15px;}
.btn-reply-bulletin, .btn-delete-bulletin{font:12px Arial, Helvetica, sans-serif; color:#033d7d; font-weight:bold;}
.btn-reply-bulletin{background:url(../images/icon/icon-reply.gif) no-repeat left; padding:0 0 0 15px;}
.btn-delete-bulletin{background:url(../images/icon/icon-cancel.gif) no-repeat left; margin-left:15px; padding:0 0 0 20px;}
.topic-bulletin{color:#033d7d; font-weight:bold;}

.form-system-bulletin input{font-size: 11px; padding: 3px;}
.form-system-bulletin p label{color:#033d7d; font-weight:bold;} 
.form-system-bulletin .to-bulletin, .form-system-bulletin .subject-bulletin{width:588px;}
.form-system-bulletin .to-bulletin{margin-left:44px;}
.form-system-bulletin .subject-bulletin{margin-left:15px;}
.form-system-bulletin .text-area-bulletin{font:11px Arial, Helvetica, sans-serif; padding:3px; margin-left:7px; width:580px; height:80px; vertical-align:text-top; overflow:auto; margin-bottom:20px;}
.btn-send-bulletin, .btn-cancel-bulletin{font:14px Arial, Helvetica, sans-serif; color:#454545; text-decoration:none; font-weight:bold; padding:0 0 0 20px; border-width:0px; float:right; margin-right:15px;}
.btn-send-bulletin:hover, .btn-cancel-bulletin:hover{cursor:pointer; color:#ff7202;}
.btn-send-bulletin{background:url(../images/icon/icon-save.gif) no-repeat left; margin-right:15px;}
.btn-cancel-bulletin{background:url(../images/icon/icon-cancel.gif) no-repeat left;}

.navegation{display:block; text-align:right; margin-right:15px; margin-bottom:5px; font:12px Arial, Helvetica, sans-serif;}
.navegation a{color:#033d7d; margin-left:15px;}
.navegation a.previous{background:url(../images/bottons/btn-previous.gif) no-repeat left; padding:0 0 0 10px;}
.navegation a.next{background:url(../images/bottons/btn-next.gif) no-repeat right; padding:0 10px 0 0;}