@charset "utf-8";
/* CSS Document */

#banner-home {margin-bottom: 9px;}

#col-left-home {width: 407px; height: auto; float: left;}
#col-right-home {width: 340px; float:left; margin-left: 11px;}


#box-news, #box-article, #box-videos, #box-courses, #box-partners {width: 100%; height:auto; margin-bottom: 9px; border-width: 1px; border-style: solid;}
#box-news img, #box-article img, #box-videos img, #box-courses img, #box-partners img{float: left; margin-right: 5px;}
#box-news h2, #box-article h2, #box-videos h2, #box-courses h2, #box-partners h2{height:20px; padding:5px 0 0 10px; font:bold 12px Arial, Helvetica, sans-serif; color:#fff;}
#list-news, #list-article{list-style-type: none; margin: 5px}
#list-news li a, #list-article li a{font-size: 11px; text-decoration: none; color:#000;}
#search-news-home .button, #search-article-home .button, #search-courses-home .button{width:27px; height:18px; margin-top: 6px}
#search-news-home img, #search-article-home img, #search-courses-home img{float: right; margin-top: 5px;}
#search-news-home form, #search-article-home form, #search-courses-home form{width: 280px; height: 29px; float:left;}
#search-news-home .field, #search-article-home .field, #search-courses-home .field{height: 16px; width: 190px; border: none; float:left; margin: 6px 10px 0 5px; padding:1px; font:11px Arial, Helvetica, sans-serif;}
#search-news-home .indicator, #search-article-home .indicator, #search-courses-home .indicator {width: 50px; float: right; margin: 9px 0 0 10px; font-size: 11px;}


#box-news {background:#e5edf2; border-color:#b3cad8;}
#box-news h2{background:url(../images/boxes_home/bg_news.jpg) #fff repeat-x 0 0;}
#box-news h2 span {display:block; margin-left:5px;}
#box-news .highlight {padding: 5px;}
#box-news h3 a{color: #005081; text-decoration:none; font-size: 14px; margin-bottom: 5px; display:block;}
#box-news h3 a:hover{color: #000;}
#box-news p {font-size: 11px;}
#list-news li{background: #fff; margin-bottom: 4px; padding: 0 3px 5px 5px;}
#list-news li a:hover{color:#b4cfdf;}
#search-news-home{background: #b3cad8;}
#search-news-home .field {color: #005081;}
#search-news-home .indicator {color:#005081;} 


#box-article {background:#d3dbd7; border-color:#9cbfae;}
#box-article h2{background:url(../images/boxes_home/bg_articles.jpg) #fff repeat-x 0 0;}
#list-article li{padding: 0 3px 5px 5px;}
#list-article li a:hover{color:#759a88;}
#search-article-home{background: #9cbfae;}
#search-article-home .field{color: #1a4731;}
#search-article-home .indicator{color:#1a4731;}


#box-videos {background:#dcd8cf; border-color:#aa9a71;}
#box-videos h2{background:url(../images/boxes_home/bg_videos.jpg) #fff repeat-x 0 0;}
#box-videos h3{font:bold 14px Arial, Helvetica, sans-serif; color:#472f02; margin: 5px;}
#show-video{width: 195px; height: auto; margin: 3px 0 5px 0; float: left;}
#show-video img{ margin: 10px 0 0 5px;}
#search-videos-home{width: 198px; float: left; padding: 5px 5px 0 8px; margin: 5px 0; border-left: 1px solid #cccccc;}
#search-videos-home dl{width: 100%;}
#search-videos-home dl dt{font-size: 14px; font-weight: bold; color:#472f02;}
#search-videos-home dl dd{font-size: 11px; padding-bottom: 5px;}
#search-videos-home p {width: 194px; height:20px; padding: 2px; background:#aa9a71; float: left; font-size:11px;}
#search-videos-home p img {float: right;}
#search-videos-home p .indicator {float: right; margin: 3px 5px 0 5px; color:#472f02;}
#search-videos-home form{width: 198px; height: 29px; float:left; background:#d0c5a9;}
#search-videos-home .field {height: 16px; width: 150px; border: none; float:left; margin: 6px 7px 0 5px; padding:1px; font:11px Arial, Helvetica, sans-serif;}
#search-videos-home .button {width:27px; height:18px; margin-top: 6px}


#box-courses {background:#fff6e5; border-color:#facf4d;}
#box-courses h2{background:url(../images/boxes_home/bg_courses.jpg) #fff repeat-x 0 0;}

#list-courses{list-style-type: none; font-size: 11px; padding: 10px 10px 0 10px;}
#list-courses li a{display:block; width: 320px; float:left; margin:0 0 10px 0; text-decoration:none; color:#666666;}
#list-courses li a span{ font-weight: bold;}
#list-courses li a img{ border: 1px solid #cbcbcb;}
#list-courses li a:hover{color:#ff6200;}

#search-courses-home{background: #facf4d;}
#search-courses-home form{width: 230px;}
#search-courses-home .field{ width: 180px; color: #1a4731; color:#dd4e00;}
#search-courses-home .indicator{color:#dd4e00;}


#box-partners {background:#f2f2f2; border-color:#cbcbcb;}
#box-partners h2{background:url(../images/boxes_home/bg_partners.jpg) #fff repeat-x 0 0;}

#list-partners{list-style-type: none; font-size: 11px; padding: 10px 10px 0 10px;}
#list-partners li {display:block; float:left;}
#list-partners li a{display:block; float:left; margin:0 5px 10px 0; text-decoration:none; color:#666666;}
#list-partners li a span{ font-weight: bold;}
#list-partners li a img{ border: 1px solid #cbcbcb; height:61px}

#list-courses li a:hover{color:#ff6200;}
#search-courses-home{background: #facf4d;}
#search-courses-home form{width: 230px;}
#search-courses-home .field{ width: 180px; color: #1a4731; color:#dd4e00;}
#search-courses-home .indicator{color:#dd4e00;}