@charset "utf-8";
/* CSS Document */


#content h1{font:20px Arial, Helvetica, sans-serif; font-weight:bold; margin-bottom:15px; margin-left:175px;}

#menu{border:none;}

.form-register-new-user {background:url(../images/bg-register.gif) no-repeat; margin:0 auto; width:585px; height:385px; padding:30px 0 0 30px;}
.form-register-new-user{font-weight: bold; font-size: 15px; color:#033d7d;}
.form-register-new-user .field-full-name, .form-register-new-user .field-email{ background:url(../images/login/bg-field-full-name.gif) no-repeat top left; width: 478px; height: 33px; padding: 8px 8px 3px 5px; border:none;}

.form-register-new-user .field-password, .form-register-new-user .field-confirm-password, .form-register-new-user .field-security-cod{background:url(../images/login/bg-password.gif) no-repeat top left; width:143px; height:33px; border:none; padding: 8px 8px 3px 5px;}

.form-register-new-user .field-security-cod{width:143px;}

.form-register-new-user .captcha {width:200px; height:50px; } 

.form-register-new-user p.block-password{width:245px; float:left;}
.form-register-new-user p.block-confirm-password{width:315px; float:left;}
.form-register-new-user p.block-cod-security{width: 340px; float:left;}

.form-register-new-user .button-register{text-align:center; margin-left:190px;  margin-top: 50px;  width:113px; height:45px;}

