@charset "utf-8";
/* CSS Document */
* {margin:0px; padding:0;}
#container{margin-bottom:80px;}
#container a:hover{color:#ff7202;}
#content{
    padding: 20px 0px 0px 20px;
}


#content h1, #content h2{font:30px Arial, Helvetica, sans-serif; color:#ff7202; width:300px; font-weight:bold;}
#content h2{font:20px Arial, Helvetica, sans-serif; font-weight:bold; margin-bottom: 20px;}
#content h3{font:15px Arial, Helvetica, sans-serif; color:#033d7d; font-weight:bold; margin-top:20px;}
#content h4{font:20px Arial, Helvetica, sans-serif; color:#033d7d; font-weight:bold; margin-bottom:30px; width:650px;}

#content #col-1-messages {width: 272px; height: auto; float:left;}
#content #col-2-messages {width: 667px; height: auto; float:left; border-left:1px solid #d9d9d9; padding-left:20px;}
#col-2-messages p, #col-2-messages{font:12px Arial, Helvetica, sans-serif; margin-top:20px;}

#box-search{background:url(../images/bg_boxes-repository.jpg) repeat-x; position: relative; height:auto; border:1px solid #ccc; margin-top:5px; padding: 10px; padding-bottom: 19px; padding-left: 20px; width:640px;}
#box-search h3 {margin:0;}
#box-search .form-system-message{text-align:left; margin:0px;}
#box-search .form-system-message .name-search{font:11px Arial, Helvetica, sans-serif; width:545px;} 
#box-search .form-system-message .button{margin:0px; font:12px Arial, Helvetica, sans-serif; position: absolute; top: 25px; right: 20px;}

.message-action{list-style-type:none; margin-top:20px;}
.message-action li{margin-top:15px; font:15px Arial, Helvetica, sans-serif; color:#003d93; font-weight:bold;}
.message-action li a{font:15px Arial, Helvetica, sans-serif; color:#003d93; font-weight:bold;}
.create-new-message{background:url(../images/icon/icon-add-courses.gif) no-repeat left; padding:0 0 0 23px;}
.inbox-message{background:url(../images/icon/icon-inbox.jpg) no-repeat left; padding:0 0 0 23px;}
.sent-message{background:url(../images/icon/icon-sent-messages.gif) no-repeat left; padding:0 0 0 23px;}

#col-2-messages form label{font:bold 12px Arial, Helvetica, sans-serif; color:#033d7d; display:block;}
#col-2-messages form .search-label-contact {color:#ff7202;}
#col-2-messages form .field-to, #col-2-messages form .field-subject, #col-2-messages form .field-search-contact{font-size: 11px; padding: 3px;}
#col-2-messages form .field-search-contact { width: 300px;}
#col-2-messages form .field-to{width: 510px; margin: 0 0px 0 0px;}
#col-2-messages form .field-subject {width: 570px; margin: 0px 0 0px 0;}
#col-2-messages form .label-message {display: block; margin-top:0px;}
#col-2-messages form .field-message {width: 571px; height: 80px; overflow: auto; margin: 0 0 20px 0px; font: 11px Arial, Helvetica, sans-serif; line-height: 18px; padding: 3px;}
#col-2-messages form .search-contact p {margin: 0px;}
#col-2-messages form .btn-cancel-message {font-weight: bold; font-size: 15px; margin-left: 20px; color: #003366; background:url(../images/icon/icon-cancel.gif) no-repeat 0 2px; display: block; padding-left: 20px; border:none; float: right;}
#col-2-messages form .btn-cancel-message:hover, #col-2-messages form .btn-send-message:hover {color:#ff7202; cursor:pointer;}

#col-2-messages form .btn-send-message {font-weight: bold; font-size: 15px; color: #003366; background:url(../images/icon/icon-save.gif) no-repeat 0 2px; display: block; padding-left: 20px; border:none; float: right;}



.search-contact {background:url(../images/bg-boxes-home.jpg) repeat-x top left; border: 2px solid #ccc; padding: 10px; margin: 5px 0 10px 70px; width:556px;}

.search-contact-field {color:#ff7202; font-size:14px;}

.list-contact-message { list-style-type:none; margin-top: 10px;}
.list-contact-message li a{font: 11px Arial, Helvetica, sans-serif; color:#033d7d;}

.table-message{margin-top:14px; font:11px Arial, Helvetica, sans-serif; width:670px; margin-bottom:25px;}
.table-message th{font:15px Arial, Helvetica, sans-serif; color:#ff7202; font-weight:bold; border-bottom:1px solid #d9d9d9; padding-bottom:0px; text-align: left;}
.table-message td{padding:5px 0 10px 0; border-bottom:1px solid #d9d9d9;}
.table-message .subject{width:400px; padding-right:15px; padding-bottom:0px;}
.table-message .author{width:100px; padding-right:15px;}  
.table-message .date-message{color:#454545; width:140px;}
.table-message img{margin-right:5px;}
.table-message td a{color:#033d7d; padding-bottom:15px; font-weight:bold;}

.title-subject-message{font:20px Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;}

.message-reply{margin-bottom:15px;}
.btn-reply-message, .btn-delete-message{font:12px Arial, Helvetica, sans-serif; color:#033d7d; font-weight:bold;}
.btn-reply-message{background:url(../images/icon/icon-reply.gif) no-repeat left; padding:0 0 0 15px;}
.btn-delete-message{background:url(../images/icon/icon-cancel.gif) no-repeat left; margin-left:15px; padding:0 0 0 20px;}
.topic-message{color:#033d7d; font-weight:bold;}

.form-system-message input{font-size: 11px; padding: 3px;}
.form-system-message p label{color:#033d7d; font-weight:bold;} 
.form-system-message .to-message, .form-system-message .subject-message{width:588px;}
.form-system-message .to-message{margin-left:44px;}
.form-system-message .subject-message{margin-left:15px;}
.form-system-message .text-area-message{font:11px Arial, Helvetica, sans-serif; padding:3px; margin-left:7px; width:580px; height:80px; vertical-align:text-top; overflow:auto; margin-bottom:20px;}
.btn-send-message, .btn-cancel-message{font:14px Arial, Helvetica, sans-serif; color:#454545; text-decoration:none; font-weight:bold; padding:0 0 0 20px; border-width:0px; float:right; margin-right:15px;}
.btn-send-message:hover, .btn-cancel-message:hover{cursor:pointer; color:#ff7202;}
.btn-send-message{background:url(../images/icon/icon-save.gif) no-repeat left; margin-right:15px;}
.btn-cancel-message{background:url(../images/icon/icon-cancel.gif) no-repeat left;}

.navegation{display:block; text-align:right; margin-right:15px; margin-bottom:5px; font:12px Arial, Helvetica, sans-serif;}
.navegation a{color:#033d7d; margin-left:15px;}
.navegation a.previous{background:url(../images/bottons/btn-previous.gif) no-repeat left; padding:0 0 0 10px;}
.navegation a.next{background:url(../images/bottons/btn-next.gif) no-repeat right; padding:0 10px 0 0;}