@charset "utf-8";
/* CSS Document */

#container{margin-bottom:80px; margin-left:auto; margin-right:auto;}

#content h1, #content h2{font:35px Arial, Helvetica, sans-serif; color:#ff7202; margin-top:15px; padding:0 0 10px; font-weight:bold;}
#content h2{font:20px Arial, Helvetica, sans-serif; font-weight:bold; padding-top:10px;}
#content .add-topic{background:url(../images/icon/icon-add-admin.gif) no-repeat left; padding:0 0 0 25px; font:11px Arial, Helvetica, sans-serif; 
color:#454545; font-weight:bold;}
#content a:hover{color:#ff7202;}

#topics{width:100%; border-collapse: collapse;}
#topics td.title-topic, #topics td.edit-topic, #topics td.delete-topic{ padding-top:30px;}
#topics td.title-topic a{font:20px Arial, Helvetica, sans-serif; color:#454545; font-weight:bold; text-align:left;
border: 1px solid #fff; padding:10px 10px 10px; background:url(../images/icon-topicboard.gif) no-repeat left; padding:0 0 0 30px;}
#topics td.edit-topic, #topics td.delete-topic{width:100px;}
#topics td.edit-topic a{background:url(../images/icon/icon-edit-admin.gif) no-repeat left; font:11px Arial, Helvetica, sans-serif; color:#454545; 
padding:3px 0 0 25px; width:22px; height:22px;}
#topics td.delete-topic a{background:url(../images/icon/icon-delete-admin.gif) no-repeat left; font:11px Arial, Helvetica, sans-serif; color:#454545; 
padding:0 0 0 18px; width:12px; height:6px;}
#topics td a:hover{color:#ff7202;}
#topics tr td.topic-description p{width:100%; font:11px Arial, Helvetica, sans-serif; color:#000; text-align:left; border-width: 0; padding: 10px 0px 10px 0px; border-bottom:#cdcdcd solid 1px;}

#navegation{float:right; margin-top:30px; margin-right:30px; font:12px Arial, Helvetica, sans-serif;}
#navegation a{color:#454545; margin-left:15px;}
#navegation a.previous{background:url(../images/bottons/btn-previous.gif) no-repeat left; padding:0 0 0 10px;  }
#navegation a.next{background:url(../images/bottons/btn-next.gif) no-repeat right; padding:0 10px 0 0;}

#form-topic{margin-top:20px; margin-left:2px;}  
#form-topic label{font:14px Arial, Helvetica, sans-serif; color:#454545; font-weight:bold;}
#form-topic .name-topic, #form-topic .textarea-topic{font:11px Arial, Helvetica, sans-serif; margin-top:5px;}
#form-topic .name-topic{margin-bottom:15px; width:700px;}
#form-topic .textarea-topic{width:700px; height:80px;}
#form-topic .button{margin-top:25px; margin-left:30px;}

.btn-save, .btn-cancel{font:14px Arial, Helvetica, sans-serif; color:#454545; text-decoration:none; font-weight:bold; padding:0 0 0 20px; margin-top: 10px; border-width:0;}
.btn-save{background:url(../images/icon/icon-save.gif) no-repeat left; margin-right:20px;}
.btn-cancel{background:url(../images/icon/icon-cancel.gif) no-repeat left;}