<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
    
    
    <!-- VIA APLICACAO 
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.postgresql.Driver" />
        <property name="url" value="jdbc:postgresql://200.19.176.65:5432/ivela" />
        <property name="username" value="ivela" />
        <property name="password" value="ivela.db" />
    </bean>
    -->
    <!-- VIA CONTAINER -->
    
    <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName">
            <value>jdbc/ivelaDataSource</value>
        </property>
    </bean>
    
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!--property name="annotatedPackages">
            <list>
                <value>br.ufc.ivela.commons.model</value>
            </list>
        </property-->
        <property name="annotatedClasses">
            <list>
                <value>br.ufc.ivela.commons.model.Access</value>
                <value>br.ufc.ivela.commons.model.Address</value>
                <value>br.ufc.ivela.commons.model.AddressType</value>
                <value>br.ufc.ivela.commons.model.AnswerAuditiveQuestionStudentExam</value>
                <value>br.ufc.ivela.commons.model.AnswerAuditiveQuestionStudentExercise</value>
                <value>br.ufc.ivela.commons.model.AnswerExternalQuestionStudentExercise</value>
                <value>br.ufc.ivela.commons.model.AnswerStudentExam</value>
                <value>br.ufc.ivela.commons.model.AnswerStudentExercise</value>
                <value>br.ufc.ivela.commons.model.AnswerSubjectiveQuestionStudentExam</value>
                <value>br.ufc.ivela.commons.model.AnswerSubjectiveQuestionStudentExercise</value>
                <value>br.ufc.ivela.commons.model.AttachPost</value>
                <value>br.ufc.ivela.commons.model.AuditiveQuestion</value>
                <value>br.ufc.ivela.commons.model.Authentication</value>
                <value>br.ufc.ivela.commons.model.Chat</value>
                <value>br.ufc.ivela.commons.model.Challenge</value>
                <value>br.ufc.ivela.commons.model.ChallengeItems</value>
                <value>br.ufc.ivela.commons.model.ChallengerResult</value>                
                <value>br.ufc.ivela.commons.model.Course</value>
                <value>br.ufc.ivela.commons.model.CourseRequisite</value>
                <value>br.ufc.ivela.commons.model.Dictionary</value>
                <value>br.ufc.ivela.commons.model.Discipline</value>
                <value>br.ufc.ivela.commons.model.Enrollment</value>                
                <value>br.ufc.ivela.commons.model.Exam</value>
                <value>br.ufc.ivela.commons.model.Exercise</value>
                <value>br.ufc.ivela.commons.model.ExternalAnswerStudentExam</value>
                <value>br.ufc.ivela.commons.model.ExternalParams</value>
                <value>br.ufc.ivela.commons.model.ExternalQuestion</value>
                <value>br.ufc.ivela.commons.model.Faq</value>
                <value>br.ufc.ivela.commons.model.File</value>
                <value>br.ufc.ivela.commons.model.FinishedExam</value>
                <value>br.ufc.ivela.commons.model.FinishedExercise</value>
                <value>br.ufc.ivela.commons.model.FinishedUnitContent</value>
                <value>br.ufc.ivela.commons.model.Forum</value>
                <value>br.ufc.ivela.commons.model.Functionality</value>
                <value>br.ufc.ivela.commons.model.Grade</value>
                <value>br.ufc.ivela.commons.model.GradeNote</value>
                <value>br.ufc.ivela.commons.model.History</value>
                <value>br.ufc.ivela.commons.model.HistoryParams</value>                                
                <value>br.ufc.ivela.commons.model.Language</value>
                <value>br.ufc.ivela.commons.model.LanguageSystemUser</value>                
                <value>br.ufc.ivela.commons.model.Message</value>
                <value>br.ufc.ivela.commons.model.Note</value>
                <value>br.ufc.ivela.commons.model.NpdUser</value>
                <value>br.ufc.ivela.commons.model.NpdPhrase</value>
                <value>br.ufc.ivela.commons.model.NewsFlash</value>
                <value>br.ufc.ivela.commons.model.ObjectiveAnswer</value>
                <value>br.ufc.ivela.commons.model.ObjectiveAnswerStudentExam</value>
                <value>br.ufc.ivela.commons.model.ObjectiveAnswerStudentExercise</value>
                <value>br.ufc.ivela.commons.model.ObjectiveQuestion</value>
                <value>br.ufc.ivela.commons.model.Phone</value>
                <value>br.ufc.ivela.commons.model.PlacementAnswer</value>
                <value>br.ufc.ivela.commons.model.PlacementQuestion</value>
                <value>br.ufc.ivela.commons.model.Post</value>
                <value>br.ufc.ivela.commons.model.Profile</value>
                <value>br.ufc.ivela.commons.model.QuestionExam</value>
                <value>br.ufc.ivela.commons.model.QuestionExercise</value>
                <value>br.ufc.ivela.commons.model.Question</value>
                <value>br.ufc.ivela.commons.model.QuestionText</value>
                <value>br.ufc.ivela.commons.model.SentenceAuditiveQuestion</value>                
                <value>br.ufc.ivela.commons.model.StudentExam</value>
                <value>br.ufc.ivela.commons.model.StudentExercise</value>
                <value>br.ufc.ivela.commons.model.SystemUserChat</value>
                <value>br.ufc.ivela.commons.model.SystemUser</value>
                <value>br.ufc.ivela.commons.model.SystemUserPlacementQuestion</value>
                <value>br.ufc.ivela.commons.model.SystemUserUnitStatus</value>
                <value>br.ufc.ivela.commons.model.Topic</value>
                <value>br.ufc.ivela.commons.model.Transcript</value>
                <value>br.ufc.ivela.commons.model.UnitContent</value>
                <value>br.ufc.ivela.commons.model.UserVoice</value>
                <value>br.ufc.ivela.commons.model.Unit</value>
                <value>br.ufc.ivela.commons.model.VoiceFeedBack</value>
                <value>br.ufc.ivela.commons.model.WordSentenceAuditiveQuestion</value>
                <value>br.ufc.ivela.commons.model.WordVoice</value>
                <value>br.ufc.ivela.commons.model.WsEnabled</value>
                
                <!-- Calendar -->
                <value>br.ufc.ivela.commons.model.calendar.AuthUser</value>
                <value>br.ufc.ivela.commons.model.calendar.AuthUserRole</value>
                <value>br.ufc.ivela.commons.model.calendar.UserTable</value>
                <value>br.ufc.ivela.commons.model.calendar.Event</value>
                <value>br.ufc.ivela.commons.model.calendar.Calendar</value>
                <value>br.ufc.ivela.commons.model.calendar.UserSettings</value>
                <!-- Calendar -->
            </list>
        </property>
        <property name="hibernateProperties">
            <value>
                org.hibernate.dialect.PostgreSQLDialect                
                <!--hibernate.hbm2ddl.auto=create-->
                <!--hibernate.show_sql=true-->
                hibernate.provider_class=org.hibernate.cache.NoCacheProvider
            </value>
        </property>
    </bean>
</beans>