
#vertical_container2{
    width: 298px; 
    height: auto;
    background:#fff;}
.accordion_toggle_grade2{
    background:url(../images/icon-courses.gif) #FFF no-repeat 5px;
    color: #033d7d; 
    font-size: 14px; 
    padding: 5px 15px 5px 25px;
    border: 1px solid #dae6f3; 
    border-bottom: none; 
    cursor: pointer;}
.accordion_toggle_active_grade2{
    background:url(../images/icon-courses.gif) #FFF no-repeat 5px; 
    color: #033d7d; 
    font-size: 14px;
    font-weight:bold;
    padding: 5px 15px 5px 25px;
    border: 1px solid #dae6f3;
    border-bottom: none; 
    cursor: pointer;
}
.accordion_content_grade2{
    border: 1px solid #dae6f3;
    padding: 10px;
    overflow: hidden;
}

#vertical_nested_container{
    
}

.no_grades{
    color: #033d7d; 
    font-size: 12px; 
    padding: 3px 3px 3px 13px;
    border-bottom: 1px solid #fff;
}

.vertical_accordion_toggle{
    background:url(../images/arrow-right.gif) #FFF no-repeat 0;
    color: #033d7d; 
    font-size: 12px; 
    padding: 3px 3px 3px 13px;
    cursor: pointer;
    border-bottom: 1px solid #fff;
    margin:0px;}
.vertical_accordion_toggle_active{
    background:url(../images/arrow-downer.gif) #FFF no-repeat 0;
    color: #FF7202; 
    font-size: 12px; 
    font-weight:bolder;
    padding: 3px 3px 3px 13px; 
    cursor: pointer;
    margin:0px;}
.vertical_accordion_content{
    padding: 10px;
    overflow: hidden;
}

#vertical_nested_container2{}
.vertical_accordion_toggle2{
    background:url(../images/icon/btn-more-small.gif) #FFF no-repeat 0; 
    color: #033d7d; 
    font-size: 12px; 
    padding: 3px 3px 3px 15px; 
    border-bottom: 1px solid #fff;
    cursor: pointer;
    margin:0px;
}
.vertical_accordion_toggle_active2{
    background:url(../images/icon/btn-less-small.gif) #FFF no-repeat 0;  
    color: #FF7202;
    font-size: 12px; 
    padding: 3px 3px 3px 15px; 
    cursor: pointer;
    margin:0px;
}
.vertical_accordion_content2{
    padding: 10px;
    overflow: hidden;
}

.vertical_accordion_content2 ul {
    list-style-type: none;
    font-size: 11px;
    } 
.vertical_accordion_content2 ul li{
    padding:3px 0;}
.vertical_accordion_content2 .list-students li {
    border:0px solid #D9E5F2;
    float:left;
    margin-bottom:1px;
    margin-right:1px;
    padding:2px 2px 2px 2px;
    text-align:left;
    width:180px;
}
.vertical_accordion_content2 .list-students li:hover, .list-students li.selected {
    background:#FFE79C none repeat scroll 0%;
    border:0px solid #FF7202;
    cursor:pointer;
}
.vertical_accordion_content2 .form-filter-students {
    font-size:11px;
    margin:10px 0pt 30px;
}
.vertical_accordion_content2 .form-filter-students .list-filter {
    font-size:11px;
    margin-bottom:10px;
    width:200px;
}

#studentData .member-info {margin-bottom: 30px;}
#studentData .member-info h1{margin-bottom: 10px;}
#studentData .member-info .picture{border: 1px solid #033d7d; background:#fff; padding: 5px; float: left; margin-right: 15px;}
#studentData .member-info div, #col-2-home .container-courses .content-courses .member-info div {float: left;}
#studentData .member-info div div {clear: both; }
    /*margin-bottom: 20px;}*/
#studentData .member-info div div p {margin-bottom: 5px; font-weight: bold; color: #033d7d;}
#studentData .member-info div div span{font-weight: normal; color: #000;}

#professorData .member-info {margin-bottom: 30px;}
#professorData .member-info h1{margin-bottom: 10px;}
#professorData .member-info .picture{border: 1px solid #033d7d; background:#fff; padding: 5px; float: left; margin-right: 15px;}
#professorData .member-info div, #col-2-home .container-courses .content-courses .member-info div {float: left;}
#professorData .member-info div div {clear: both; margin-bottom: 20px;}
#professorData .member-info div div p {margin-bottom: 5px; font-weight: bold; color: #033d7d;}
#professorData .member-info div div span{font-weight: normal; color: #000;}

#tutorData .member-info {margin-bottom: 30px;}
#tutorData .member-info h1{margin-bottom: 10px;}
#tutorData .member-info .picture{border: 1px solid #033d7d; background:#fff; padding: 5px; float: left; margin-right: 15px;}
#tutorData .member-info div, #col-2-home .container-courses .content-courses .member-info div {float: left;}
#tutorData .member-info div div {clear: both; margin-bottom: 20px;}
#tutorData .member-info div div p {margin-bottom: 5px; font-weight: bold; color: #033d7d;}
#tutorData .member-info div div span{font-weight: normal; color: #000;}
