@charset "utf-8";
/* CSS Document */

html, body {height:100%; background: url(../images/bg_standard_small.jpg) #fff repeat-x top left;}
#container{width:960px;height:auto; min-height:100%;margin:0 auto;text-align:left;font-family:Arial, Helvetica, sans-serif;}
#header {background: url(../images/bg-ballons2-small.jpg) no-repeat top left;}

.login-container {width: 940px; height: auto; margin: 0 auto; position:relative;}

.form-login-index {background: url(../images/login/bg-form.gif) no-repeat top left; width: 500px; height: 350px; float: left; padding-top: 55px; margin-left: 220px; position:relative; margin-top:25px}

.language {width: 150px; height: 50px; float: right; margin-top: 90px;}
.language img{margin-left: 10px ; border: 2px solid #fff;}
.language img:hover {border-color:#ff9c00;}


.form-login-index .box-user-index {height: 40px; margin-left: 54px;}
.form-login-index .box-user-index label, .form-login-index .box-pass-index label {font-weight: bold; font-size: 15px; color:#033d7d;}
.form-login-index .box-user-index .field-user-index, .form-login-index .box-pass-index .field-pass-index  { background:url(../images/login/bg-field-user-index.gif) no-repeat top left; width: 185px; height: 22px; padding: 8px 10px 3px 5px; border:none;}
.form-login-index .box-pass-index {width: 300px; margin: 0 0 0 33px; height: auto;}

.form-login-index .box-pass-index .buton-login-index {position: relative; left: -10px;/*position: absolute; top: 92px; left: 280px; border:0;*/ align: bottom}
.form-login-index .box-pass-index .check {width: 220px; height: 20px; margin: 8px 0 0 90px; font: 11px Arial, Helvetica, sans-serif; color:#000}

.form-login-index .box-pass-index .forgot {display: block;  font: 10px Arial, Helvetica, sans-serif; color:#033d7d;}
.form-login-index .box-pass-index .forgot:hover {color:#ff9c00;}

.form-login-index table {position:relative; left:40px; top:20px;}
.form-login-index table .forgot {width:auto;}

.error {position:relative; top:10px;text-align: center; color:#FF0000; font: bold 12px Arial, Helvetica, sans-serif;}

.sucess {padding-left:210px; color:#FF7202; padding-bottom: 5px; font: bold 14px Arial, Helvetica, sans-serif;}

.form-login-index .box-pass-index .field-pass-index {background:url(../images/login/bg-field-pass-index.gif) no-repeat top left; width: 140px;}

.tools-login {
    margin-left:150px;
    position: relative;
    left: -45px;
    width: 50px; 
    height: 50px; 
    float: right; 
    margin-top: 60px;
    font: bold 11px Arial, Helvetica, sans-serif; }
.tools-login a {
    display: block;
    width:80px; 
    text-align:justify; 
    height: 26px; 
    padding-right:50px; 
    padding-top:8px;
    padding-left:40px;
    background: url(../images/balao_about_us.gif) no-repeat left 0;
    color: #FF9900;}
.tools-login a:hover {color: #033d7d;}


.register {width: 600px; height: auto; margin: 0 auto; color:#FF8402; }
.register form {margin-top: 30px; font: 12px Arial, Helvetica, sans-serif;}
.register form fieldset {border: none; border-top: 1px solid #FF9900; padding-left: 30px; margin-bottom: 30px; }
.register form fieldset legend {font-size: 18px; font-weight: bold; padding: 0 10px; color: #ff8402;}

.register form fieldset label {display: block; float: left; width: 150px; text-align: right;  margin-right: 10px; padding-top: 5px; color:#666;}
.register form fieldset label.required-field { font-weight:bold;}
.register form fieldset input {height: 20px; width: auto; min-width: 150px; padding: 4px 3px 0 3px; border-left: 1px solid #000; border: 1px solid #bddbfc;}

.register form p {margin: 1px 0; padding: 10px 0;}
.register form p.error {margin: 1px 0; padding: 10px 0; background: #FFFFCC;}

.register form p .field-security-cod {float:left; margin-right: 15px;}


.register .tip-login {font-size: 13px; color:#666;}
.register .show-field {font-size: 14px; color:#033d7d; font-weight:bold;}
.register .show-field:hover {color: #FF9933;}

