<div style="border:solid #FECC59; border-width:1px; width:700px;">
    <table background="${url}images/bg_standard2.jpg" border="0" cellpadding="10" width="100%">
        <tr>
            <td>
                <a href='${url}'>
                    <img style="border:0px;" src="${url}images/ivela-logo.gif" height="85" />
                </a>
            </td>
        </tr>
        <tr>
            <td>    
                Caro(a) <b> ${SystemUser.username} </b>, 
                    <br />
                    <br /> 
                       &nbsp;&nbsp;&nbsp;&nbsp;Sua nova senha &eacute;: <b> ${password} </b>
                    <br />
                    <br />
                    <br />                    
            </td>
        </tr>
    </table>
</div>
